{% extends 'base.html.twig' %}

{% block content %}




 <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
                        <div class="page-title">

                            <div class="pull-left">
                                <h1 class="title">CLients</h1>                            </div>

                            <div class="pull-right hidden-xs">
                                <ol class="breadcrumb">
                                    <li>
                                        <a href="index.html"><i class="fa fa-home"></i>Menu</a>
                                    </li>
                                    <li>
                                        <a href="eco-customers.html">CLients</a>
                                    </li>
                                    <li class="active">
                                        <strong>Tous Les Clients</strong>
                                    </li>
                                </ol>
                            </div>

                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <div class="col-lg-12">
                        <section class="box ">
                            <header class="panel_header">
                                <h2 class="title pull-left">Tous Les Clients</h2>
                                <div class="actions panel_actions pull-right">
                                    <i class="box_toggle fa fa-chevron-down"></i>
                                    <i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
                                    <i class="box_close fa fa-times"></i>
                                </div>
                            </header>
                            <div class="content-body">    <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">



                                        <!-- ******************************************** -->


                                        <table id="example" class="display table table-hover table-condensed" cellspacing="0" width="100%">

                                            <thead>
                                                <tr>

                                                    <th>Sociéte</th>
                                                    <th>codematricule \ CIN</th>
                                                    <th>Email</th>
                                                    <th>Telephone</th>
                                                    <th>Taux Benefice</th>
                                                    <th> Action </th>                   </tr>
                                            </thead>

                                            <tbody>
                                            {% for client in clients %}
                                                <tr>

                                                    <td>
                                                        {{client.societe}}
                                                    </td>
                                                    <td>
                                                        {{client.codematricule}}
                                                    </td>


                                                    <td>
                                                        {{client.Mail}}</td>
                                                        <td>
                                                            {{client.Gsm}}
                                                        </td>
                                                        <td>
                                                         {{client.Pourcentagebenifice}}
                                                        </td>
                                                        <td>
                                                      <a href="{{path('rem_client',{'id': client.id})}}"><i class="fa fa-remove"></i></a>
                                                      <a href="{{path('mod_client',{'id': client.id})}}" ><i class="fa fa-pencil-square-o"></i></a>
                                                        </td>





                                                    {% endfor %}
                                            </tbody>

                                        </table>
                                        <!-- ******************************************** -->




                                    </div>
                                </div>
                            </div>
                        </section></div>




 {% endblock %}

