{% extends 'base.html.twig' %}
{% form_theme formf 'bootstrap_4_layout.html.twig' %}
{% block title %}Hello ProformatController!{% endblock %}
{% block stylesheets %}
            <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

{% endblock %}
 {% block content %} 
 <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
                        <div class="page-title">

                            <div class="pull-left">
                                <h1 class="title">Ajouter Un Profroma</h1>                            </div>

                            <div class="pull-right hidden-xs">
                                <ol class="breadcrumb">
                                    <li>
                                        <a href="index.html"><i class="fa fa-home"></i>Menu</a>
                                    </li>
                                    <li>
                                        <a href="eco-products.html">Profroma</a>
                                    </li>
                                    <li class="active">
                                        <strong>Ajouter Proforma</strong>
                                    </li>
                                </ol>
                            </div>

                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                        <section class="box ">
                            <header class="panel_header">
                                <h2 class="title pull-left">Ajouter Un Profroma</h2>
                                <div class="actions panel_actions pull-right">
                                    <i class="box_toggle fa fa-chevron-down"></i>
                                    <i class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></i>
                                    <i class="box_close fa fa-times"></i>
                                </div>
                            </header>
                            <div class="content-body">
                                <div class="row">

                                    {{ form_start(formf) }}
                                    <div class="form-group">
                                        <label class="form-label" for="field-1">Titre de la facture</label>
                                        <div class="controls">
                                            {{ form_widget(formf.titre) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="field-1">Societe</label>
                                        <div class="controls">
                                            {{ form_widget(formf.idclient) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="field-1">Les Machines</label>
                                        <div class="controls">
                                            {{ form_widget(formf.products) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="field-1">Choix De Type De Facture</label>
                                        <div class="controls">
                                            {{ form_widget(formf.choix) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="field-1">Delai De la Livraison</label>
                                        <div class="controls">
                                            {{ form_widget(formf.delaidelivraison) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="field-1">Garantie</label>
                                        <div class="controls">
                                            {{ form_widget(formf.garantie) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="field-1">Modalite De Paiement</label>
                                        <div class="controls">
                                            {{ form_widget(formf.modalite) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="field-1">Validite </label>
                                        <div class="controls">
                                            {{ form_widget(formf.validite) }}
                                        </div>
                                    </div>


                                    {{ form_end(formf) }}
                                </div>


                            </div>
                        </section></div>




    {% block javascripts %}
      <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
      <script>
      $(function(){
         $('.select-tags').select2();
      })
      </script>    
   {% endblock %}
 
 {% endblock %} 
